.root {
    -fx-background-color: null;
}

.btn {
    -fx-background-color: null;
    /*-fx-border-color: red;*/
    -fx-pref-width: 28;
    -fx-pref-height: 32;
}

.btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.73);
}

.close-btn:hover {
    -fx-background-color: rgba(255, 0, 0, 0.68);
}

.cancel-btn {
    -fx-pref-width: 82;
    -fx-pref-height: 22;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #86949e;
}

.cancel-btn:hover {
    -fx-background-color: #BEE7FD;
}

.login-pane {
    -fx-background-color: white;
}

.btn-more {
    -fx-pref-height: 45;
    -fx-max-height: 45;
    -fx-pref-width: 45;
    -fx-max-width: 45;
    -fx-background-color: #fefefe;
    -fx-background-radius: 22.5;
    -fx-graphic: url("../img/add-more.png");
    -fx-effect: dropshadow(gaussian, #86949e, 10, 0.2, 0, 0);
}

.qqnum-field {
    -fx-pref-width: 240;
    -fx-pref-height: 32;
    -fx-background-color: null;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b7b7b7;
    -fx-padding: 4 20 2 22;
    -fx-font-size: 16;
}

.qqnum-field:focused {
    -fx-border-color: #12b7f5;
}

.qqnum-shape {
    -fx-pref-width: 15;
    -fx-pref-height: 17;
    -fx-shape: "M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z";
    -fx-background-color: #b8babc;
}


.qqunm-more-btn {
    -fx-graphic: url("../img/qqnum-more-btn.png");
}

.password-field {
    -fx-pref-width: 240;
    -fx-pref-height: 32;
    -fx-background-color: null;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b7b7b7;
    -fx-padding: 4 20 2 22;
    -fx-font-size: 16;
}

.password-field:focused {
    -fx-border-color: #12b7f5;
}

.pwd-shape {
    -fx-pref-width: 15;
    -fx-pref-height: 17;
    -fx-shape: "M842.24 444.416c-8.192 0-54.272 0.512-62.976 0.512V299.52c0-161.28-103.936-268.288-266.24-268.8-162.304 0-268.288 112.64-268.288 268.8v143.872c-5.632 0-64.512 0.512-69.632 0.512-38.912 0-64 33.28-64 69.12v409.088c0 40.448 21.504 70.656 62.976 70.656h670.208c32.256 0 69.12-29.184 69.12-81.92V522.24c0-39.936-13.312-77.824-71.168-77.824z m-240.64 367.104c0 50.688-39.936 91.648-89.088 91.648-49.152 0-89.088-40.96-89.088-91.648v-1.536c0-33.792 17.92-63.488 44.544-79.36v-168.96c0-24.064 18.944-26.624 42.496-26.624 23.552 0 46.592 2.56 46.592 26.624v168.96c26.624 15.872 44.544 45.568 44.544 79.36v1.536zM691.2 443.392H334.336v-184.32c0-88.576 98.816-136.704 173.056-136.704h16.384c74.24 0 167.424 44.544 167.424 136.704v184.32z";
    -fx-background-color: #b8babc;
}

.shape-hover {
    -fx-background-color: #12b7f5;
}

.pwd-keyboard-btn {
    -fx-pref-width: 23;
    -fx-pref-height: 16;
}

.keyboard-shape {
    -fx-background-color: #b8babc;
    -fx-shape: "M937.818175 806.79712 86.180801 806.79712c-12.060687 0-21.837354-9.775644-21.837354-21.835308L64.343447 239.040235c0-12.060687 9.776667-21.838378 21.837354-21.838378l851.637374 0c12.059664 0 21.837354 9.777691 21.837354 21.838378l0 545.921577C959.65553 797.022499 949.877839 806.79712 937.818175 806.79712zM926.900521 249.957889 97.099479 249.957889 97.099479 774.042111l829.801043 0L926.900521 249.957889zM260.875542 413.733952 151.691841 413.733952 151.691841 304.550251 260.875542 304.550251 260.875542 413.733952zM337.305259 566.593386 228.120534 566.593386 228.120534 457.408661l109.184725 0L337.305259 566.593386zM741.287103 719.450772l-436.736852 0L304.550251 610.266048l436.736852 0L741.287103 719.450772zM686.694741 457.408661l109.184725 0 0 109.184725L686.694741 566.593386 686.694741 457.408661zM763.123434 304.550251l109.184725 0 0 109.183701L763.123434 413.733952 763.123434 304.550251zM610.266048 304.550251 719.449749 304.550251l0 109.183701L610.266048 413.733952 610.266048 304.550251zM643.021056 566.593386 533.836331 566.593386 533.836331 457.408661l109.184725 0L643.021056 566.593386zM457.407638 304.550251l109.184725 0 0 109.183701L457.407638 413.733952 457.407638 304.550251zM490.162646 566.593386 380.978944 566.593386 380.978944 457.408661l109.184725 0L490.163669 566.593386zM304.549228 304.550251l109.184725 0 0 109.183701L304.549228 413.733952 304.549228 304.550251z";
}

.pwd-keyboard-btn:hover .keyboard-shape {
    -fx-background-color: #7c7c7c;
}

.check-box {
    -fx-text-fill: #b8babc;
}

.check-box .box {
    -fx-padding: 0.5;
    -fx-background-color: null;
    -fx-border-color: #b8babc;
}

.check-box .mark {
    -fx-scale-x: 0.68;
    -fx-scale-y: 0.68;
    -fx-shape: "M892.064 261.888a31.936 31.936 0 0 0-45.216 1.472L421.664 717.248l-220.448-185.216a32 32 0 1 0-41.152 48.992l243.648 204.704a31.872 31.872 0 0 0 20.576 7.488 31.808 31.808 0 0 0 23.36-10.112L893.536 307.136a32 32 0 0 0-1.472-45.248z";
}

.check-box:selected .mark {
    -fx-background-color: #12b7f5;
}

.link-label {
    -fx-text-fill: #a5a5a6;
    -fx-cursor: hand;
}

.link-label:hover {
    -fx-text-fill: #7c7c7c;
}

.login-btn {
    -fx-graphic: url("../img/safe.png");
    -fx-pref-width: 240;
    -fx-pref-height: 35;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: #05BAFB;
    -fx-effect: dropshadow(gaussian, #05BAFB, 5, 0.1, 0, 0);
}

.login-btn:pressed {
    -fx-background-color: #1ba9f6;
}

.qr-code {
    -fx-pref-width: 23;
    -fx-pref-height: 23;
}

.qr-code-shape {
    -fx-background-color: #a5a5a6;
    -fx-shape: "M177.230769 315.076923h118.153846c11.815385 0 19.692308-7.876923 19.692308-19.692308V177.230769c0-11.815385-7.876923-19.692308-19.692308-19.692307H177.230769c-11.815385 0-19.692308 7.876923-19.692307 19.692307v118.153846c0 11.815385 7.876923 19.692308 19.692307 19.692308zM433.230769 551.384615H39.384615c-21.661538 0-39.384615 17.723077-39.384615 39.384616v393.846154c0 21.661538 17.723077 39.384615 39.384615 39.384615h393.846154c21.661538 0 39.384615-17.723077 39.384616-39.384615V590.769231c0-21.661538-17.723077-39.384615-39.384616-39.384616z m-19.692307 413.538462H59.076923V610.461538h354.461539v354.461539zM177.230769 866.461538h118.153846c11.815385 0 19.692308-7.876923 19.692308-19.692307v-118.153846c0-11.815385-7.876923-19.692308-19.692308-19.692308H177.230769c-11.815385 0-19.692308 7.876923-19.692307 19.692308v118.153846c0 11.815385 7.876923 19.692308 19.692307 19.692307zM984.615385 0H590.769231c-21.661538 0-39.384615 17.723077-39.384616 39.384615v393.846154c0 21.661538 17.723077 39.384615 39.384616 39.384616h393.846154c21.661538 0 39.384615-17.723077 39.384615-39.384616V39.384615c0-21.661538-17.723077-39.384615-39.384615-39.384615z m-19.692308 413.538462H610.461538V59.076923h354.461539v354.461539zM1004.307692 551.384615h-39.384615c-11.815385 0-19.692308 7.876923-19.692308 19.692308v118.153846c0 11.815385-7.876923 19.692308-19.692307 19.692308h-118.153847c-11.815385 0-19.692308-7.876923-19.692307-19.692308v-118.153846c0-11.815385-7.876923-19.692308-19.692308-19.692308H571.076923c-11.815385 0-19.692308 7.876923-19.692308 19.692308v433.230769c0 11.815385 7.876923 19.692308 19.692308 19.692308h39.384615c11.815385 0 19.692308-7.876923 19.692308-19.692308V728.615385c0-11.815385 7.876923-19.692308 19.692308-19.692308h39.384615c11.815385 0 19.692308 7.876923 19.692308 19.692308v39.384615c0 11.815385 7.876923 19.692308 19.692308 19.692308h275.692307c11.815385 0 19.692308-7.876923 19.692308-19.692308V571.076923c0-11.815385-7.876923-19.692308-19.692308-19.692308zM433.230769 0H39.384615C17.723077 0 0 17.723077 0 39.384615v393.846154c0 21.661538 17.723077 39.384615 39.384615 39.384616h393.846154c21.661538 0 39.384615-17.723077 39.384616-39.384616V39.384615c0-21.661538-17.723077-39.384615-39.384616-39.384615z m-19.692307 413.538462H59.076923V59.076923h354.461539v354.461539zM728.615385 315.076923h118.153846c11.815385 0 19.692308-7.876923 19.692307-19.692308V177.230769c0-11.815385-7.876923-19.692308-19.692307-19.692307h-118.153846c-11.815385 0-19.692308 7.876923-19.692308 19.692307v118.153846c0 11.815385 7.876923 19.692308 19.692308 19.692308zM1004.307692 866.461538h-39.384615c-11.815385 0-19.692308 7.876923-19.692308 19.692308v118.153846c0 11.815385 7.876923 19.692308 19.692308 19.692308h39.384615c11.815385 0 19.692308-7.876923 19.692308-19.692308v-118.153846c0-11.815385-7.876923-19.692308-19.692308-19.692308zM846.769231 866.461538h-39.384616c-11.815385 0-19.692308 7.876923-19.692307 19.692308v118.153846c0 11.815385 7.876923 19.692308 19.692307 19.692308h39.384616c11.815385 0 19.692308-7.876923 19.692307-19.692308v-118.153846c0-11.815385-7.876923-19.692308-19.692307-19.692308z";
}

.qr-code:hover .qr-code-shape {
    -fx-background-color: #7c7c7c;
}